// FONTS
$m-thin: 'Montserrat-Thin'
$m-light: 'Montserrat-Light'
$m-med-it: 'Montserrat-MediumItalic'
$m-extra-light-it: 'Montserrat-ExtraLightItalic'
$m-bold-it: 'Montserrat-BoldItalic'
$m-semi-bold: 'Montserrat-SemiBold'
$m-extra-light: 'Montserrat-ExtraLight'
$m-extra-bold-it: 'Montserrat-ExtraBoldItalic'
$m-it: 'Montserrat-Italic'
$m-bold: 'Montserrat-Bold'
$m-light-it: 'Montserrat-LightItalic'
$m-black-it: 'Montserrat-BlackItalic'
$m-semi-bold-it: 'Montserrat-SemiBoldItalic'
$m-reg: 'Montserrat-Regular'
$m-med: 'Montserrat-Medium'
$m-extra-bold: 'Montserrat-ExtraBold'
$m-black: 'Montserrat-Black'
$m-thin-it: 'Montserrat-ThinItalic'
// COLORS
$pale-grey: #f7f8f9
$warm-blue: #4562e1
$pale-grey-two: #f4f6fb
$azul: #1741ea
$perrywinkle: #8e9eec
$black-5: rgba(0, 0, 0, 0.05)
$white: #ffffff
$slate-grey: #646773
$slate: #525871
$gunmetal: #4f525e
$charcoal-grey: #27292f
$dusk: #46437a
$black: #000000
$red: #ff0000
$powder-blue: #b7dafe
$perrywinkle-two: #99a8eb